#logo {
    height: 50px;
}

.error {
    text-decoration-color: red;

}

.formFriend {

    height: 40px;
    text-align: center;
    vertical-align: center;
    horiz-align: center;

}

.center{
    align-content: center;
}
.btnActivite {
    width: 100%;

}


.imageSize {

    width: 100px;
    height: 100px;
}